Source: ros-rolling-dynamixel-hardware-interface
Section: misc
Priority: optional
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-common <!nocheck>, ros-rolling-dynamixel-interfaces, ros-rolling-dynamixel-sdk, ros-rolling-hardware-interface, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-realtime-tools, ros-rolling-std-srvs, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-dynamixel-hardware-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-dynamixel-interfaces, ros-rolling-dynamixel-sdk, ros-rolling-hardware-interface, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-realtime-tools, ros-rolling-std-srvs, ros-rolling-ros-workspace
Description: ROS 2 package providing a hardware interface for controlling Dynamixel motors via the ROS 2 control framework.
