Source: ros-kilted-dynamixel-hardware-interface
Section: misc
Priority: optional
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kilted-ament-cmake, ros-kilted-ament-lint-auto <!nocheck>, ros-kilted-ament-lint-common <!nocheck>, ros-kilted-dynamixel-interfaces, ros-kilted-dynamixel-sdk, ros-kilted-hardware-interface, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-realtime-tools, ros-kilted-std-srvs, ros-kilted-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-kilted-dynamixel-hardware-interface
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kilted-dynamixel-interfaces, ros-kilted-dynamixel-sdk, ros-kilted-hardware-interface, ros-kilted-pluginlib, ros-kilted-rclcpp, ros-kilted-realtime-tools, ros-kilted-std-srvs, ros-kilted-ros-workspace
Description: ROS 2 package providing a hardware interface for controlling Dynamixel motors via the ROS 2 control framework.
